*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato';
    font-size: 62.5%;
    background-color: #77dd77;
    color: antiquewhite;
    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 500px;
    height: 700px;
    background-color: rgb(69, 68, 69);
    border-radius: 25px;
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.box{
    width: 85%;
    height: 20px;
    border-radius: 7px;
    color: antiquewhite;
}

h3{
    font-size: 3rem;
    font-weight: 900;
}
h4{
    font-size: 1.8rem;
    font-weight: 500;
}
input{
    font-size: 2.5rem;
    border: 2px solid white;
    background-color: transparent;
    padding: 30px;
    transition: all 1s ease;
}
input::placeholder{
    font-size: 2.5rem;
}
input:hover{
    font-weight: 600;
    background-color: #a9e9a4;
    
}
input:focus{
    color: blueviolet;
}

button{
    font-size: 2.5rem;
    font-weight: 900;
    background-color: rgb(112, 110, 112);
    border: 2px solid white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    
}
button:hover{
    color: rgb(69, 68, 69);
    font-weight: 900;
    background-color: #a9e9a4;
}

.qrcode-area{
    width: 85%;
    height: 300px;
    border: 2px solid white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#qrcode-gerado{
    width: 60%;
    height: 70%;
    display: none;
}

